<!DOCTYPE html>
<html>
  <head>
    <title>ensombrite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
     <link className="lmao" rel="shortcut icon" href="https://active-storage-ensombryte-dev.s3.us-west-1.amazonaws.com/ensombritelogo.png">
  </head>

  <body>
     <script type="text/javascript">
      window.Kanye = "<%= image_url('kanye-west-peppa-pig.png') %>";
      window.festivala = "<%= image_url('festivala.jpg') %>";
      </script>
    <%= yield %>
  </body>
</html>
